In [58]:
print("hello world")

hello world

In [59]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

In [60]:
df = pd.read_csv("Bengaluru_House_Data.csv")

In [61]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [62]:
df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [63]:
df.dropna(inplace = True)

In [64]:
df.isnull().sum()

area_type       0
availability    0
location        0
size            0
society         0
total_sqft      0
bath            0
balcony         0
price           0
dtype: int64

In [65]:
df.duplicated().sum()

352

In [66]:
df.drop_duplicates(inplace = True)

In [67]:
df.duplicated().sum()

0

In [68]:
df.shape

(7144, 9)

In [69]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170,2.0,1.0,38.00
11,Plot Area,Ready To Move,Whitefield,4 Bedroom,Prrry M,2785,5.0,3.0,295.00

In [70]:
df['area_type'].value_counts()

area_type
Super built-up  Area    5672
Built-up  Area          1152
Plot  Area               268
Carpet  Area              52
Name: count, dtype: int64

In [71]:
df.columns

Index(['area_type', 'availability', 'location', 'size', 'society',
       'total_sqft', 'bath', 'balcony', 'price'],
      dtype='object')

In [72]:
df['availability'].value_counts()

availability
Ready To Move    5456
18-May            169
18-Dec            165
19-Dec            148
18-Apr            146
                 ...
20-May              1
15-Jun              1
20-Mar              1
16-Mar              1
14-Jul              1
Name: count, Length: 74, dtype: int64

In [73]:
df['balcony'].value_counts()

balcony
2.0    2934
1.0    2836
3.0     973
0.0     401
Name: count, dtype: int64

In [74]:
df['size'].value_counts()

size
2 BHK        3232
3 BHK        2869
1 BHK         339
4 BHK         332
4 Bedroom     192
3 Bedroom     120
5 Bedroom      16
2 Bedroom      16
1 RK           10
5 BHK           9
6 BHK           3
6 Bedroom       3
11 BHK          1
9 BHK           1
7 BHK           1
Name: count, dtype: int64

In [75]:
df['society'].value_counts()

society
GrrvaGr    68
PrarePa    58
Sryalan    56
Prtates    53
GMown E    52
           ..
SLnorMa     1
TGjraVa     1
SrageGl     1
Apavea      1
RSntsAp     1
Name: count, Length: 2592, dtype: int64

In [76]:
df['bath'].value_counts()

bath
2.0    4055
3.0    1981
4.0     437
1.0     412
5.0     181
6.0      71
7.0       4
9.0       3
Name: count, dtype: int64

In [77]:
df['price'].value_counts()

price
75.00     173
65.00     167
55.00     154
60.00     150
45.00     141
         ...
42.41       1
71.32       1
35.52       1
20.50       1
488.00      1
Name: count, Length: 1518, dtype: int64

In [78]:
df['location'].value_counts()

location
Whitefield            382
Sarjapur  Road        297
Electronic City       229
Thanisandra           207
Kanakpura Road        195
                     ...
Jaladarsini Layout      1
KSRTC Layout            1
Raghavendra Nagar       1
Bhuvaneswari Nagar      1
Abshot Layout           1
Name: count, Length: 634, dtype: int64

In [79]:
df['total_sqft'].value_counts() >=50

total_sqft
1200     True
1100     True
1000     True
1500     True
1300     True
        ...
2550    False
1753    False
999     False
1974    False
4689    False
Name: count, Length: 1682, dtype: bool

In [80]:
# filtered_data = list(df['total_sqft'].value_counts().head(16).keys())

In [81]:
filtered_data = list(df["total_sqft"].value_counts().head(50).keys())

In [82]:
filtered_data

['1200',
 '1100',
 '1000',
 '1500',
 '1300',
 '1400',
 '1600',
 '1050',
 '1450',
 '1350',
 '1140',
 '1150',
 '1550',
 '1250',
 '1800',
 '1180',
 '1255',
 '1075',
 '950',
 '1260',
 '2400',
 '1185',
 '900',
 '1700',
 '1020',
 '1210',
 '1225',
 '1650',
 '1220',
 '1125',
 '1240',
 '1190',
 '1070',
 '1320',
 '1290',
 '1750',
 '1175',
 '1170',
 '1080',
 '1430',
 '1128',
 '1160',
 '1025',
 '1410',
 '1270',
 '1205',
 '1850',
 '1310',
 '700',
 '2500']

In [83]:
df['total_sqft'].value_counts()

total_sqft
1200    168
1100    100
1000     75
1500     72
1300     68
       ...
2550      1
1753      1
999       1
1974      1
4689      1
Name: count, Length: 1682, dtype: int64

In [84]:
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170,2.0,1.0,38.00
11,Plot Area,Ready To Move,Whitefield,4 Bedroom,Prrry M,2785,5.0,3.0,295.00
...,...,...,...,...,...,...,...,...,...
13308,Built-up Area,Ready To Move,Bannerghatta Road,3 BHK,Baanise,1527,3.0,1.0,142.00
13314,Super built-up Area,Ready To Move,Green Glen Layout,3 BHK,SoosePr,1715,3.0,3.0,112.00
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00

In [85]:
from sklearn.preprocessing import LabelEncoder , OneHotEncoder , OrdinalEncoder

In [86]:
df.dtypes

area_type        object
availability     object
location         object
size             object
society          object
total_sqft       object
bath            float64
balcony         float64
price           float64
dtype: object

In [87]:
# df = df[df["total_sqft"].isin(filtered_data)]

In [88]:
df = df[df['total_sqft'].isin(filtered_data)]

In [89]:
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170,2.0,1.0,38.0
12,Super built-up Area,Ready To Move,7th Phase JP Nagar,2 BHK,Shncyes,1000,2.0,1.0,38.0
15,Super built-up Area,Ready To Move,Mysore Road,2 BHK,PrntaEn,1175,2.0,2.0,73.5
16,Super built-up Area,Ready To Move,Bisuvanahalli,3 BHK,Prityel,1180,3.0,2.0,48.0
29,Super built-up Area,Ready To Move,Electronic City,3 BHK,KBityo,1025,2.0,1.0,47.0
...,...,...,...,...,...,...,...,...,...
13237,Super built-up Area,Ready To Move,Malleshpalya,2 BHK,SoncyRe,1225,2.0,2.0,52.0
13242,Super built-up Area,Ready To Move,8th Phase JP Nagar,3 BHK,Yaenti,1500,2.0,3.0,55.0
13249,Plot Area,Ready To Move,KR Puram,2 Bedroom,Anncyar,1200,2.0,0.0,75.0
13262,Built-up Area,Ready To Move,Abshot Layout,2 BHK,Emtat H,1140,1.0,1.0,185.0
13276,Super built-up Area,Ready To Move,LB Shastri Nagar,2 BHK,ThhtsV,1000,2.0,1.0,49.5

In [90]:
encoder = LabelEncoder()

In [91]:
# output = encoder.fit_transform(df['society'])

In [92]:
# encoder.classes_

In [93]:
df['area_type'].value_counts()

area_type
Super built-up  Area    1416
Built-up  Area           392
Plot  Area               105
Carpet  Area              11
Name: count, dtype: int64

In [94]:
area_type_dt = {"Super built-up  Area" : 1 , "Built-up  Area" :2 , "Plot  Area" :3,"Carpet  Area":4}

In [95]:
area_type_dt

{'Super built-up  Area': 1,
 'Built-up  Area': 2,
 'Plot  Area': 3,
 'Carpet  Area': 4}

In [96]:
df['area_type'] = df['area_type'].map(area_type_dt)

C:\Users\anshi\AppData\Local\Temp\ipykernel_89884\2911733809.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['area_type'] = df['area_type'].map(area_type_dt)

In [97]:
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
5,1,Ready To Move,Whitefield,2 BHK,DuenaTa,1170,2.0,1.0,38.0
12,1,Ready To Move,7th Phase JP Nagar,2 BHK,Shncyes,1000,2.0,1.0,38.0
15,1,Ready To Move,Mysore Road,2 BHK,PrntaEn,1175,2.0,2.0,73.5
16,1,Ready To Move,Bisuvanahalli,3 BHK,Prityel,1180,3.0,2.0,48.0
29,1,Ready To Move,Electronic City,3 BHK,KBityo,1025,2.0,1.0,47.0
...,...,...,...,...,...,...,...,...,...
13237,1,Ready To Move,Malleshpalya,2 BHK,SoncyRe,1225,2.0,2.0,52.0
13242,1,Ready To Move,8th Phase JP Nagar,3 BHK,Yaenti,1500,2.0,3.0,55.0
13249,3,Ready To Move,KR Puram,2 Bedroom,Anncyar,1200,2.0,0.0,75.0
13262,2,Ready To Move,Abshot Layout,2 BHK,Emtat H,1140,1.0,1.0,185.0
13276,1,Ready To Move,LB Shastri Nagar,2 BHK,ThhtsV,1000,2.0,1.0,49.5

In [98]:
cat_cols = df.select_dtypes(include = "O")
num_cols = df.select_dtypes(exclude ="O")

In [99]:
cat_cols

        availability            location       size  society total_sqft
5      Ready To Move          Whitefield      2 BHK  DuenaTa       1170
12     Ready To Move  7th Phase JP Nagar      2 BHK  Shncyes       1000
15     Ready To Move         Mysore Road      2 BHK  PrntaEn       1175
16     Ready To Move       Bisuvanahalli      3 BHK  Prityel       1180
29     Ready To Move     Electronic City      3 BHK  KBityo        1025
...              ...                 ...        ...      ...        ...
13237  Ready To Move        Malleshpalya      2 BHK  SoncyRe       1225
13242  Ready To Move  8th Phase JP Nagar      3 BHK  Yaenti        1500
13249  Ready To Move            KR Puram  2 Bedroom  Anncyar       1200
13262  Ready To Move       Abshot Layout      2 BHK  Emtat H       1140
13276  Ready To Move    LB Shastri Nagar      2 BHK  ThhtsV        1000

[1924 rows x 5 columns]

In [100]:
cat_cols.value_counts()

availability   location            size   society  total_sqft
Ready To Move  Bisuvanahalli       3 BHK  Prityel  1075          21
               Thanisandra         2 BHK  MenueNo  1185          10
               Begur Road          2 BHK  Dhalsh   1200           9
               Electronic City     2 BHK  GMown E  1070           9
               Thanisandra         3 BHK  MenueNo  1430           8
                                                                 ..
               Canara Bank Colony  3 BHK  DencyRe  1600           1
                                   2 BHK  Apvas N  900            1
               Cambridge Layout    3 BHK  Sancybr  2400           1
               CV Raman Nagar      3 BHK  Srshq T  1550           1
               Yeshwanthpur        3 BHK  IBityin  2500           1
Name: count, Length: 1573, dtype: int64

In [101]:
cat_cols.dtypes

availability    object
location        object
size            object
society         object
total_sqft      object
dtype: object

In [118]:
cat_cols.isnull().sum()

availability    0
location        0
size            0
society         0
total_sqft      0
dtype: int64

In [119]:
num_cols.isnull().sum()

area_type    0
bath         0
balcony      0
price        0
dtype: int64

In [102]:
# encoder = OneHotEncoder(drop="first")

In [120]:
encoder = OrdinalEncoder()

In [ ]:
encoder.fit(cat_cols)

OrdinalEncoder()

In [123]:
transform_df = encoder.transform(cat_cols)

In [124]:
transform_df.shape

(1924, 5)

In [125]:
transform_df = pd.DataFrame(transform_df , columns = encoder.get_feature_names_out())

In [126]:
transform_df

      availability  location  size  society  total_sqft
0             47.0     392.0   1.0    257.0        13.0
1             47.0      11.0   1.0    908.0         0.0
2             47.0     274.0   1.0    699.0        14.0
3             47.0      78.0   3.0    687.0        15.0
4             47.0     127.0   3.0    419.0         2.0
...            ...       ...   ...      ...         ...
1919          47.0     263.0   1.0    949.0        22.0
1920          47.0      12.0   3.0   1155.0        37.0
1921          47.0     204.0   2.0     62.0        18.0
1922          47.0      18.0   1.0    271.0        10.0
1923          47.0     252.0   1.0   1053.0         0.0

[1924 rows x 5 columns]

In [127]:
final_df = pd.concat([transform_df , num_cols] , axis = 1)

In [128]:
final_df

,availability,location,size,society,total_sqft,area_type,bath,balcony,price
0,47.0,392.0,1.0,257.0,13.0,NaN,NaN,NaN,NaN
1,47.0,11.0,1.0,908.0,0.0,NaN,NaN,NaN,NaN
2,47.0,274.0,1.0,699.0,14.0,NaN,NaN,NaN,NaN
3,47.0,78.0,3.0,687.0,15.0,NaN,NaN,NaN,NaN
4,47.0,127.0,3.0,419.0,2.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
13237,NaN,NaN,NaN,NaN,NaN,1.0,2.0,2.0,52.0
13242,NaN,NaN,NaN,NaN,NaN,1.0,2.0,3.0,55.0
13249,NaN,NaN,NaN,NaN,NaN,3.0,2.0,0.0,75.0
13262,NaN,NaN,NaN,NaN,NaN,2.0,1.0,1.0,185.0
13276,NaN,NaN,NaN,NaN,NaN,1.0,2.0,1.0,49.5

In [117]:
final_df.isnull().sum()

availability    1633
location        1633
size            1633
society         1633
total_sqft      1633
area_type       1633
bath            1633
balcony         1633
price           1633
dtype: int64